.forecastWeatherSection {
    height: 500px;
    overflow: scroll;
}

.weatherDetail {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.weatherDetail img {
    font-size: 10px;
}

.weatherDetail .humidity {
    color: rgb(141, 141, 141);
}