.buttonsGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

button {
    margin-left: 20px
}

.city {
    font-size: 50px;
    margin-right: 10px
}

.country {
    font-size: 25px;
    margin-left: 10px
}