.currentWeatherInfo.row {
    align-items: center;
}

.tempAndWeatherDescription {
    font-weight: 900;
    font-size: 25px;
}

.weatherSubDescription {
    font-size: 15px;
    color: rgb(167, 167, 167);
}

.humidity,
.wind {
    font-size: 15px;
    color: rgb(99, 99, 99);
}